.footer {
  max-width: 33vw;
  display: flex;
  justify-content: center;
}

.button {
  width: 8.8vw;
  align-items: center;
  height: 4vh;
  color: rgb(255, 253, 253);
  border: none;
  border-radius: 5px;
  background-color: rgb(73, 122, 71);
  font-size: 1.7vh;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;
}

.generalButton {
  margin-right: 1vw;
  width: 8.8vw;
  align-items: center;
  height: 4vh;
  color: rgb(58, 156, 19);
  border: none;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  font-size: 1.9vh;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;
}

.modalForm label {
  font-size: 2.5vh;
  font-weight: bold;
  color: rgb(56, 56, 56);
  padding-top: 2vh;
}

.modalForm input {
  padding-right: 0.7vw;
  padding-left: 0.7vw;
  height: 5vh;
  width: 90%;
  border: 1px solid rgb(204, 202, 202);
}

.modalForm input:focus {
  outline-style: none;
}

.footer button:hover {
  background-color: rgb(46, 136, 10);
  border: none;
}
.footer button:focus {
  background-color: #589636;
  outline-style: unset;
}
